# Qualcomm Snapdragon 855/855+/860 (SM8150/SM8150-AC/SM8150-AD) config fragment
CONFIG_LOCALVERSION="-sm8150"

# Xiaomi Redmi K20 Pro
CONFIG_DRM_PANEL_SAMSUNG_AMS639RQ08=m
CONFIG_SND_SOC_TFA9872=m
CONFIG_TOUCHSCREEN_GOODIX_GTX8=m

# Xiaomi Pad 5
CONFIG_DRM_PANEL_NOVATEK_NT36523=n
CONFIG_BACKLIGHT_KTZ8866=m
CONFIG_TOUCHSCREEN_NT36523_SPI=n
CONFIG_SND_SOC_CS35L41_I2C=m
CONFIG_CHARGER_IDTP9418=m

# Xiaomi POCO X3 Pro
CONFIG_SPI_XIAOMI_TP=y
CONFIG_TOUCHSCREEN_NT36xxx_HOSTDL_SPI=y
CONFIG_TOUCHSCREEN_NVT_DEBUG_FS=y
CONFIG_TOUCHSCREEN_XIAOMI_TOUCHFEATURE=y
CONFIG_SND_SOC_TAS2562=m
CONFIG_NFC_NXP_NCI=m
CONFIG_NFC_NXP_NCI_I2C=m

# Oneplus 7 Pro
CONFIG_TOUCHSCREEN_S6SY761=m

# Google Pixel 4
# CONFIG_EFI_ZBOOT=y
CONFIG_REGULATOR_MAX77826=n
CONFIG_BATTERY_MAX1720X=n
CONFIG_DRM_PANEL_LG_NT37280_LH568WF3_ED01=y
CONFIG_TOUCHSCREEN_STM_FTS_DOWNSTREAM=n
CONFIG_TOUCHSCREEN_STM_FTS_DOWNSTREAM_SPI=n

# SOC
CONFIG_FORCE_NR_CPUS=y
CONFIG_NR_CPUS=8
CONFIG_SCHED_CLUSTER=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_QCOM_GSBI=n
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_OCMEM=n
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_WCNSS_CTRL=n
CONFIG_QCOM_APR=y
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_QCOM_SPMI_ADC_TM5=y
CONFIG_QCOM_LMH=y
CONFIG_SCSI_UFS_BSG=y
CONFIG_QCOM_GPI_DMA=y
CONFIG_I2C_QCOM_GENI=y

CONFIG_PINCTRL_SM8150=y
CONFIG_SM_DISPCC_8250=y
CONFIG_SM_GCC_8150=y
CONFIG_SM_GPUCC_8150=y
CONFIG_SM_VIDEOCC_8150=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_INTERCONNECT_QCOM_SM8150=y
CONFIG_SND_SOC_SM8150=m
CONFIG_REGULATOR_QCOM_REFGEN=y

# Notification LED
# Must be builtin as it won't be automatically modprobed
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_LEDS_CLASS_MULTICOLOR=m
CONFIG_LEDS_QCOM_LPG=m

# Flash LED
CONFIG_LEDS_QCOM_FLASH=m

# Remoteproc
CONFIG_QRTR=y
CONFIG_QRTR_SMD=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_QCOM_MDT_LOADER=y
CONFIG_QCOM_PDR_HELPERS=y
CONFIG_QCOM_PDR_MSG=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_QCOM_INLINE_CRYPTO_ENGINE=y
CONFIG_QCOM_UBWC_CONFIG=y
CONFIG_SLIMBUS=y
CONFIG_SLIM_QCOM_CTRL=y
CONFIG_SLIM_QCOM_NGD_CTRL=y
CONFIG_REMOTEPROC_CDEV=y

# Battery
CONFIG_BATTERY_QCOM_FG=y
CONFIG_CHARGER_QCOM_SMB2=y

# Graphics
CONFIG_DRM=y
CONFIG_FB_SIMPLE=y
CONFIG_DRM_MSM=y

# Brightness Control
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_BACKLIGHT_QCOM_WLED=y

# Power management
# Kernel compression & LTO (LTO needs a clang build: LLVM=1)
CONFIG_KERNEL_GZIP=y
CONFIG_LTO_CLANG_THIN=y

CONFIG_PM_AUTOSLEEP=y
CONFIG_PM_WAKELOCKS=y

# MGLRU
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y

# Misc useful things
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_DMABUF_HEAPS=y
CONFIG_UDMABUF=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_HZ_1000=y

# Needed for mounting userdata on android
CONFIG_QFMT_V2=y

# HID/Input
CONFIG_I2C_HID=y
CONFIG_HID_GENERIC=m
CONFIG_UHID=m
CONFIG_USB_HID=m
CONFIG_INPUT_EVDEV=y
CONFIG_BT_HIDP=m
CONFIG_INPUT_JOYDEV=n

# Persistent store
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_DEFLATE_COMPRESS=y

# USB
CONFIG_TYPEC=y
CONFIG_TYPEC_TCPM=y
CONFIG_TYPEC_QCOM_PMIC=y
CONFIG_TYPEC_MUX_FSA4480=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_USB_DWC3_ULPI=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_REGULATOR_QCOM_USB_VBUS=y

CONFIG_RPMSG_CHAR=y
CONFIG_QCOM_Q6V5_ADSP=n
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HS=y
CONFIG_BT_LE=y
CONFIG_HID_BATTERY_STRENGTH=y
CONFIG_HIDRAW=y
CONFIG_QCOM_COINCELL=m
CONFIG_QCOM_FASTRPC=m
CONFIG_QCOM_SPMI_VADC=y
CONFIG_QCOM_SPMI_ADC5=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QUSB2=n
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_PHY_QCOM_QMP_PCIE=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_PHY_QCOM_QMP_COMBO=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_DEFAULT_WESTWOOD=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=8192
CONFIG_BTRFS_FS=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_F2FS_FS=y
CONFIG_NLS_UTF8=y
CONFIG_NLS_DEFAULT="utf8"
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_EXFAT_FS=m
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_SYN_COOKIES=y
CONFIG_UEVENT_HELPER=y
CONFIG_INPUT_UINPUT=m
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y

# Filesystem Encryption
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_SCSI_UFS_CRYPTO=y
CONFIG_FS_ENCRYPTION=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_CRYPTO_DEV_QCE=y

# Anbox
CONFIG_BRIDGE_NETFILTER=m
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_PACKET_DIAG=y
CONFIG_UNIX_DIAG=y
CONFIG_NETLINK_DIAG=m
CONFIG_NETFILTER_XT_MATCH_COMMENT=m
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y

# Waydroid
CONFIG_PSI=y

# WLAN debugging
CONFIG_ATH10K_DEBUG=y
CONFIG_ATH10K_DEBUGFS=y
CONFIG_ATH10K_SPECTRAL=y

CONFIG_NET_SCH_HTB=y
CONFIG_NET_SCH_PRIO=y
CONFIG_NET_SCH_MULTIQ=y

# Debugging stuff
CONFIG_STACKTRACE=y

#pmOS Related
CONFIG_VT=y
CONFIG_CRYPTO_XTS=y
CONFIG_TMPFS_XATTR=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y
CONFIG_BINFMT_MISC=m

CONFIG_NETFILTER_XTABLES_LEGACY=y
CONFIG_NF_TABLES=m
CONFIG_NF_TABLES_INET=y
CONFIG_NFT_CT=m
CONFIG_NFT_COUNTER=m
CONFIG_NFT_COMPAT=m
CONFIG_NFT_LOG=m
CONFIG_NFT_LIMIT=m
CONFIG_NFT_MASQ=m
CONFIG_NFT_NAT=m
CONFIG_NFT_REJECT=m
CONFIG_NF_TABLES_IPV4=y
CONFIG_NF_TABLES_IPV6=y
CONFIG_SND_USB_AUDIO=m
CONFIG_SND_SEQUENCER=m
CONFIG_CIFS=y

CONFIG_DRM_GUD=n
CONFIG_DRM_UDL=n

# pmos containers kconfig
CONFIG_CGROUP_FREEZER=y
CONFIG_NETFILTER_XT_MATCH_IPVS=m
CONFIG_NETFILTER_XT_MARK=m
CONFIG_NETFILTER_XT_MATCH_CGROUP=m
CONFIG_NETFILTER_XT_MATCH_STATISTIC=m
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=m
CONFIG_DUMMY=m
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_NET_CLS_CGROUP=m
CONFIG_RT_GROUP_SCHED=y
CONFIG_IP_NF_NAT=m
CONFIG_IP_NF_TARGET_MASQUERADE=m
CONFIG_IP_NF_TARGET_REDIRECT=m
CONFIG_IP_NF_TARGET_REJECT=m
CONFIG_IP_VS=m
CONFIG_IP_VS_NFCT=y
CONFIG_IP_VS_PROTO_TCP=y
CONFIG_IP_VS_PROTO_UDP=y
CONFIG_IP_VS_RR=m
CONFIG_IP6_NF_NAT=m
CONFIG_IP6_NF_TARGET_MASQUERADE=m
CONFIG_IP6_NF_TARGET_REJECT=m
CONFIG_EXT4_FS_SECURITY=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_VXLAN=m
CONFIG_CGROUP_NET_PRIO=y
CONFIG_IPVLAN=m

# pmOS ZRAM kconfig
CONFIG_ZSMALLOC=m
CONFIG_ZSMALLOC_STAT=y
CONFIG_ZRAM=m
CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_ZRAM_DEF_COMP="zstd"
CONFIG_ZRAM_MEMORY_TRACKING=y
CONFIG_ZRAM_MULTI_COMP=y
CONFIG_CRYPTO_LZ4=m
CONFIG_LZ4_COMPRESS=m
CONFIG_CRYPTO_LZO=m
CONFIG_CRYPTO_ZSTD=m
CONFIG_ZRAM_BACKEND_ZSTD=y

# pmOS iwd kconfig
CONFIG_CRYPTO_USER_API_HASH=m
CONFIG_CRYPTO_USER_API_SKCIPHER=m
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_CRYPTO_KPP=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y

# pmOS wireguard kconfig
CONFIG_WIREGUARD=m
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_IPV6_MULTIPLE_TABLES=y
CONFIG_NF_CONNTRACK_MARK=y
CONFIG_NFT_FIB=m
CONFIG_NFT_FIB_IPV4=m
CONFIG_NFT_FIB_IPV6=m
CONFIG_FIB_RULES=y

# pmOS community kconfig
CONFIG_ANDROID_BINDERFS=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"
CONFIG_XFS_ONLINE_SCRUB=y
CONFIG_XFS_ONLINE_SCRUB_STATS=y
CONFIG_XFS_ONLINE_REPAIR=y
CONFIG_F2FS_STAT_FS=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_F2FS_IOSTAT=y
CONFIG_QUOTA_TREE=y
CONFIG_PROC_CHILDREN=y
CONFIG_EROFS_FS=y
CONFIG_EROFS_FS_XATTR=y
CONFIG_EROFS_FS_POSIX_ACL=y
CONFIG_EROFS_FS_SECURITY=y
CONFIG_EROFS_FS_BACKED_BY_FILE=y
CONFIG_EROFS_FS_ZIP=y
CONFIG_EROFS_FS_ZIP_LZMA=y
CONFIG_EROFS_FS_ZIP_LZMA_DEFAULT_MAX_STREAMS=8
CONFIG_PNFS_BLOCK=y
CONFIG_CIFS_STATS2=y
CONFIG_SMBFS=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_CRYPTO_KPP2=y
CONFIG_CRYPTO_ACOMP2=m
CONFIG_CRYPTO_DH=y
CONFIG_CRYPTO_CTR=y
CONFIG_CRYPTO_CCM=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CRC_ITU_T=m
CONFIG_XOR_BLOCKS=y
CONFIG_RAID6_PQ=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_NETFILTER_XT_TARGET_TCPMSS=m
CONFIG_NETFILTER_XT_MATCH_TCPMSS=m
CONFIG_NETFILTER_XT_MATCH_MARK=m
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=m
CONFIG_UDF_FS=m
CONFIG_XFS_FS=m
CONFIG_USB_HIDDEV=y
CONFIG_USB_PRINTER=m

# LEDs
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y

# Game controllers, etc
CONFIG_HID_SONY=m
CONFIG_SONY_FF=y
CONFIG_HID_NINTENDO=m

# Support loading compressed firmware
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_FW_LOADER_COMPRESS_XZ=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y


# Additional options to match pmOS kernel config
CONFIG_TCP_CONG_BIC=m
CONFIG_TCP_CONG_HTCP=m
CONFIG_DEFAULT_TCP_CONG="westwood"
CONFIG_NETFILTER_NETLINK=y
CONFIG_NF_NAT=m
CONFIG_NF_NAT_REDIRECT=y
CONFIG_NF_NAT_MASQUERADE=y
CONFIG_NFT_REJECT_INET=m
CONFIG_NETFILTER_XT_NAT=m
CONFIG_NETFILTER_XT_TARGET_REDIRECT=m
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=m
CONFIG_IP_NF_IPTABLES_LEGACY=m
CONFIG_NFT_REJECT_IPV4=m
CONFIG_NF_REJECT_IPV4=m
CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_MANGLE=m
CONFIG_IP6_NF_IPTABLES_LEGACY=m
CONFIG_NFT_REJECT_IPV6=m
CONFIG_NF_REJECT_IPV6=m
CONFIG_IP6_NF_FILTER=m
CONFIG_IP6_NF_MANGLE=m
CONFIG_NET_L3_MASTER_DEV=y
CONFIG_CGROUP_NET_CLASSID=y
CONFIG_IPVLAN_L3S=y
CONFIG_DRM_AUX_BRIDGE=y
CONFIG_DRM_AUX_HPD_BRIDGE=y
CONFIG_GROUP_SCHED_BANDWIDTH=y
CONFIG_RELAY=y
CONFIG_PM_WAKELOCKS_LIMIT=100
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_BLK_WBT=y
CONFIG_BLK_WBT_MQ=y
CONFIG_ZSMALLOC_CHAIN_SIZE=8
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_NET_UDP_TUNNEL=m
CONFIG_BT_LE_L2CAP_ECRED=y
CONFIG_UEVENT_HELPER_PATH=""
CONFIG_REGMAP_SPI=m
CONFIG_ZRAM_TRACK_ENTRY_ACTIME=y
CONFIG_BLK_DEV_RAM_COUNT=16
CONFIG_SND_SEQ_DEVICE=m
CONFIG_SND_SEQ_MIDI_EVENT=m
CONFIG_SND_SEQ_MIDI=m
CONFIG_QCOM_VADC_COMMON=y
CONFIG_FS_ENCRYPTION_ALGS=y
CONFIG_NETFS_SUPPORT=y
CONFIG_EXFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_REED_SOLOMON=y
CONFIG_DYNAMIC_DEBUG=y

# Disable all unrelated stuffs afaik
CONFIG_ACPI=n
CONFIG_AHCI_CEVA=n
CONFIG_AHCI_MVEBU=n
CONFIG_AHCI_QORIQ=n
CONFIG_AHCI_XGENE=n
CONFIG_ALTERA_FREEZE_BRIDGE=n
CONFIG_AMD_XGBE=n
CONFIG_AQUANTIA_PHY=n
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_AGILEX=n
CONFIG_ARCH_AIROHA=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_ASPEED=n
CONFIG_ARCH_AXIADO=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM4908=n
CONFIG_ARCH_BCMBCA=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BLAIZE=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_BST=n
CONFIG_ARCH_CIX=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_N5X=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_R8A774A1=n
CONFIG_ARCH_R8A774B1=n
CONFIG_ARCH_R8A774C0=n
CONFIG_ARCH_R8A774E1=n
CONFIG_ARCH_R8A77950=n
CONFIG_ARCH_R8A77951=n
CONFIG_ARCH_R8A77960=n
CONFIG_ARCH_R8A77961=n
CONFIG_ARCH_R8A77965=n
CONFIG_ARCH_R8A77970=n
CONFIG_ARCH_R8A77980=n
CONFIG_ARCH_R8A77990=n
CONFIG_ARCH_R8A77995=n
CONFIG_ARCH_R8A779A0=n
CONFIG_ARCH_R9A07G044=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_SOPHGO=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_TEGRA_132_SOC=n
CONFIG_ARCH_TEGRA_186_SOC=n
CONFIG_ARCH_TEGRA_194_SOC=n
CONFIG_ARCH_TEGRA_210_SOC=n
CONFIG_ARCH_TEGRA_234_SOC=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZX=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_ARMADA_THERMAL=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_ARM_ARMADA_37XX_CPUFREQ=n
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=n
CONFIG_ARM_IMX_BUS_DEVFREQ=n
CONFIG_ARM_IMX_CPUFREQ_DT=n
CONFIG_ARM_MHU=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_ARM_RASPBERRYPI_CPUFREQ=n
CONFIG_ARM_SBSA_WATCHDOG=n
CONFIG_ARM_SCMI_PROTOCOL=n
CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_ARM_SDE_INTERFACE=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_ARM_SMMU_V3=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_ARM_TEGRA186_CPUFREQ=n
CONFIG_AT803X_PHY=n
CONFIG_ATA=n
CONFIG_ATH10K_PCI=n
CONFIG_ATH11K=n
CONFIG_ATH12K=n
CONFIG_ATL1C=n
CONFIG_BACKLIGHT_LP855X=n
CONFIG_BATTERY_MAX17042=n
CONFIG_BATTERY_SBS=n
CONFIG_BCM2711_THERMAL=n
CONFIG_BCM2835_MBOX=n
CONFIG_BCM2835_THERMAL=n
CONFIG_BCM2835_WDT=n
CONFIG_BCM54140_PHY=n
CONFIG_BCM7XXX_PHY=n
CONFIG_BCMGENET=n
CONFIG_BCM_SBA_RAID=n
CONFIG_BLK_DEV_MD=n
CONFIG_BLK_DEV_NVME=n
CONFIG_BNX2X=n
CONFIG_BRCMFMAC=n
CONFIG_BRCMSTB_THERMAL=n
CONFIG_BROADCOM_PHY=n
CONFIG_CAN=n
CONFIG_CAN_FLEXCAN=n
CONFIG_CAN_RCAR=n
CONFIG_CAN_RCAR_CANFD=n
CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_CAVIUM_ERRATUM_27456=n
CONFIG_CAVIUM_ERRATUM_30115=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_CEC_NXP_TDA9950=n
CONFIG_CHARGER_BQ25890=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_CLK_ELIZA_DISPCC=n
CONFIG_CLK_ELIZA_GCC=n
CONFIG_CLK_ELIZA_TCSRCC=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_CLK_GLYMUR_DISPCC=n
CONFIG_CLK_GLYMUR_GCC=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_CLK_IMX8MM=n
CONFIG_CLK_IMX8MN=n
CONFIG_CLK_IMX8MP=n
CONFIG_CLK_IMX8MQ=n
CONFIG_CLK_IMX8QXP=n
CONFIG_CLK_KAANAPALI_CAMCC=n
CONFIG_CLK_KAANAPALI_DISPCC=n
CONFIG_CLK_KAANAPALI_GCC=n
CONFIG_CLK_KAANAPALI_GPUCC=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_CLK_QCM2290_GPUCC=n
CONFIG_CLK_RASPBERRYPI=n
CONFIG_CLK_X1E80100_CAMCC=n
CONFIG_CLK_X1E80100_DISPCC=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_CLK_X1E80100_TCSRCC=n
CONFIG_CLK_X1P42100_CAMCC=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_CLK_X1P42100_VIDEOCC=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_COMMON_CLK_CS2000_CP=n
CONFIG_COMMON_CLK_FSL_SAI=n
CONFIG_COMMON_CLK_RK808=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_COMMON_CLK_XGENE=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_COMMON_CLK_ZYNQMP=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_CRYPTO_BENCHMARK=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_CRYPTO_DEV_CCREE=n
CONFIG_DMA_BCM2835=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_DMA_SUN6I=n
CONFIG_DM_MIRROR=n
CONFIG_DM_ZERO=n
CONFIG_DP83822_PHY=n
CONFIG_DP83867_PHY=n
CONFIG_DP83869_PHY=n
CONFIG_DP83TD510_PHY=n
CONFIG_DP83TG720_PHY=n
CONFIG_DRM_ANALOGIX_ANX7625=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_DRM_CDNS_MHDP8546=n
CONFIG_DRM_DISPLAY_CONNECTOR=n
CONFIG_DRM_ETNAVIV=n
CONFIG_DRM_EXYNOS=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_DRM_EXYNOS_DSI=n
CONFIG_DRM_EXYNOS_HDMI=n
CONFIG_DRM_EXYNOS_MIC=n
CONFIG_DRM_HDLCD=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_DRM_ITE_IT66121=n
CONFIG_DRM_KOMEDA=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_DRM_LONTIUM_LT9611=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_DRM_MEDIATEK=n
CONFIG_DRM_MEDIATEK_HDMI=n
CONFIG_DRM_MESON=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_DRM_MSM_DSI_20NM_PHY=n
CONFIG_DRM_MSM_DSI_28NM_8960_PHY=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_DRM_MSM_HDMI=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_DRM_MXSFB=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_DRM_PANEL_HIMAX_HX8279=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_DRM_PANEL_ILITEK_ILI9882T=n
CONFIG_DRM_PANEL_KHADAS_TS050=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_DRM_PANEL_NOVATEK_NT36672E=n
CONFIG_DRM_PANEL_NOVATEK_NT37801=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_DRM_PANEL_RAYDIUM_RM692E5=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_DRM_PANEL_STARTEK_KD070FHFID015=n
CONFIG_DRM_PANEL_SUMMIT=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_DRM_PANFROST=n
CONFIG_DRM_PANTHOR=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_DRM_PL111=n
CONFIG_DRM_POWERVR=n
CONFIG_DRM_RCAR_DU=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_DRM_SAMSUNG_DSIM=n
CONFIG_DRM_SII902X=n
CONFIG_DRM_SIMPLE_BRIDGE=n
CONFIG_DRM_SUN4I=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_DRM_TEGRA=n
CONFIG_DRM_THINE_THC63LVD1024=n
CONFIG_DRM_TIDSS=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_DRM_TI_TFP410=n
CONFIG_DRM_TOSHIBA_TC358767=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_DRM_VC4=n
CONFIG_DW_EDMA=n
CONFIG_DW_WATCHDOG=n
CONFIG_E1000=n
CONFIG_E1000E=n
CONFIG_EC_ACER_ASPIRE1=n
CONFIG_EC_HUAWEI_GAOKUN=n
CONFIG_EC_LENOVO_THINKPAD_T14S=n
CONFIG_EC_LENOVO_YOGA_C630=n
CONFIG_EEPROM_93CX6=n
CONFIG_EEPROM_AT24=n
CONFIG_EEPROM_AT25=n
CONFIG_ENA_ETHERNET=n
CONFIG_EXT2_FS=n
CONFIG_EXT3_FS=n
CONFIG_EXTCON_PTN5150=n
CONFIG_EXYNOS_ADC=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_FB_EFI=n
CONFIG_FPGA=n
CONFIG_FPGA_BRIDGE=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_FPGA_REGION=n
CONFIG_FSL_DPAA=n
CONFIG_FSL_DPAA2_ETH=n
CONFIG_FSL_DPAA_ETH=n
CONFIG_FSL_EDMA=n
CONFIG_FSL_ENETC=n
CONFIG_FSL_ENETC_QOS=n
CONFIG_FSL_ENETC_VF=n
CONFIG_FSL_FMAN=n
CONFIG_FSL_IMX8_DDR_PMU=n
CONFIG_FSL_MC_BUS=n
CONFIG_FSL_MC_DPIO=n
CONFIG_FSL_RCPM=n
CONFIG_FUJITSU_ERRATUM_010001=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=n
CONFIG_GNSS_MTK_SERIAL=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_GPIO_ALTERA=n
CONFIG_GPIO_BD9571MWV=n
CONFIG_GPIO_CADENCE=n
CONFIG_GPIO_DAVINCI=n
CONFIG_GPIO_DWAPB=n
CONFIG_GPIO_MAX732X=n
CONFIG_GPIO_MAX77620=n
CONFIG_GPIO_MB86S7X=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_GPIO_MXC=n
CONFIG_GPIO_PCA953X=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_GPIO_PCF857X=n
CONFIG_GPIO_PL061=n
CONFIG_GPIO_RCAR=n
CONFIG_GPIO_SHARED_PROXY=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_GPIO_TPIC2810=n
CONFIG_GPIO_UNIPHIER=n
CONFIG_GPIO_VISCONTI=n
CONFIG_GPIO_XGENE=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_GPIO_XILINX=n
CONFIG_GREYBUS=n
CONFIG_HIBERNATION=n
CONFIG_HISILICON_LPC=n
CONFIG_HISI_PMU=n
CONFIG_HIX5HD2_GMAC=n
CONFIG_HNS3=n
CONFIG_HNS3_ENET=n
CONFIG_HNS3_HCLGE=n
CONFIG_HNS_DSAF=n
CONFIG_HNS_ENET=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_HW_RANDOM_CN10K=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_HZ_250=n
CONFIG_I2C_BCM2835=n
CONFIG_I2C_CADENCE=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_I2C_IMX=n
CONFIG_I2C_IMX_LPI2C=n
CONFIG_I2C_MESON=n
CONFIG_I2C_MT65XX=n
CONFIG_I2C_MUX_PCA954x=n
CONFIG_I2C_MV64XXX=n
CONFIG_I2C_OMAP=n
CONFIG_I2C_OWL=n
CONFIG_I2C_PXA=n
CONFIG_I2C_QUP=n
CONFIG_I2C_RCAR=n
CONFIG_I2C_RK3X=n
CONFIG_I2C_SH_MOBILE=n
CONFIG_I2C_TEGRA=n
CONFIG_I2C_UNIPHIER_F=n
CONFIG_I2C_XILINX=n
CONFIG_IGB=n
CONFIG_IGBVF=n
CONFIG_IMX2_WDT=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_IMX_MBOX=n
CONFIG_IMX_SCU=n
CONFIG_IMX_SCU_PD=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_IMX_SC_WDT=n
CONFIG_IMX_SDMA=n
CONFIG_INPUT_PWM_BEEPER=n
CONFIG_INPUT_PWM_VIBRA=n
CONFIG_INTEL_STRATIX10_RSU=n
CONFIG_INTEL_STRATIX10_SERVICE=n
CONFIG_INTERCONNECT_IMX=n
CONFIG_INTERCONNECT_IMX8MQ=n
CONFIG_INTERCONNECT_QCOM_ELIZA=n
CONFIG_INTERCONNECT_QCOM_GLYMUR=n
CONFIG_INTERCONNECT_QCOM_KAANAPALI=n
CONFIG_INTERCONNECT_QCOM_MILOS=n
CONFIG_INTERCONNECT_QCOM_MSM8996=n
CONFIG_INTERCONNECT_QCOM_QCS404=n
CONFIG_INTERCONNECT_QCOM_QCS615=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_INTERCONNECT_QCOM_QDU1000=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_INTERCONNECT_QCOM_SC7180=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_INTERCONNECT_QCOM_SC8280XP=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_INTERCONNECT_QCOM_SDX75=n
CONFIG_INTERCONNECT_QCOM_SM6350=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_INTERCONNECT_QCOM_SM8350=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_INTERCONNECT_QCOM_SM8550=n
CONFIG_INTERCONNECT_QCOM_SM8650=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_IOMMU_IO_PGTABLE_DART=n
CONFIG_IPMI_HANDLER=n
CONFIG_IPQ_APSS_5424=n
CONFIG_IPQ_APSS_6018=n
CONFIG_IPQ_APSS_PLL=n
CONFIG_IPQ_CMN_PLL=n
CONFIG_IPQ_GCC_5018=n
CONFIG_IPQ_GCC_5210=n
CONFIG_IPQ_GCC_5332=n
CONFIG_IPQ_GCC_5424=n
CONFIG_IPQ_GCC_6018=n
CONFIG_IPQ_GCC_8074=n
CONFIG_IPQ_GCC_9574=n
CONFIG_IPQ_GCC_9650=n
CONFIG_IR_MESON=n
CONFIG_IR_SUNXI=n
CONFIG_IWLWIFI=n
CONFIG_K3_DMA=n
CONFIG_KEYBOARD_ADC=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_LEDS_LM3692X=n
CONFIG_LEDS_PCA9532=n
CONFIG_MACB=n
CONFIG_MARVELL_10G_PHY=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_MARVELL_PHY=n
CONFIG_MAX9611=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_MDIO_BITBANG=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_MDIO_BUS_MUX_MULTIPLEXER=n
CONFIG_MDIO_THUNDER=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEGARAID_SAS=n
CONFIG_MELLANOX_PLATFORM=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_MESON_EFUSE=n
CONFIG_MESON_GXBB_WATCHDOG=n
CONFIG_MESON_WATCHDOG=n
CONFIG_MFD_ADP5585=n
CONFIG_MFD_ALTERA_SYSMGR=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_MFD_AXP20X_RSB=n
CONFIG_MFD_BD9571MWV=n
CONFIG_MFD_DA9062=n
CONFIG_MFD_EXYNOS_LPASS=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_MFD_HI655X_PMIC=n
CONFIG_MFD_MAX77620=n
CONFIG_MFD_MAX77759=n
CONFIG_MFD_MT6360=n
CONFIG_MFD_MT6397=n
CONFIG_MFD_RK808=n
CONFIG_MFD_RK8XX_I2C=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_MFD_ROHM_BD718XX=n
CONFIG_MFD_SEC_CORE=n
CONFIG_MFD_SEC_I2C=n
CONFIG_MFD_SL28CPLD=n
CONFIG_MFD_TI_LP873X=n
CONFIG_MFD_TPS65219=n
CONFIG_MFD_TPS6594_I2C=n
CONFIG_MFD_WM8994=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_MHI_NET=n
CONFIG_MICREL_PHY=n
CONFIG_MICROSEMI_PHY=n
CONFIG_MISC_RP1=n
CONFIG_MLX4_EN=n
CONFIG_MLX5_CORE=n
CONFIG_MMC=n
CONFIG_MMC_BCM2835=n
CONFIG_MMC_DW_EXYNOS=n
CONFIG_MMC_DW_HI3798CV200=n
CONFIG_MMC_DW_K3=n
CONFIG_MMC_DW_ROCKCHIP=n
CONFIG_MMC_MESON_GX=n
CONFIG_MMC_MTK=n
CONFIG_MMC_OWL=n
CONFIG_MMC_SDHCI_AM654=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_MMC_SDHCI_ESDHC_IMX=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_MMC_SDHCI_TEGRA=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_MMC_SUNXI=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_MOUSE_PS2=n
CONFIG_MPL3115=n
CONFIG_MSM_GCC_8916=n
CONFIG_MSM_GCC_8953=n
CONFIG_MSM_GCC_8994=n
CONFIG_MSM_GCC_8996=n
CONFIG_MSM_GCC_8998=n
CONFIG_MSM_MMCC_8994=n
CONFIG_MSM_MMCC_8996=n
CONFIG_MSM_MMCC_8998=n
CONFIG_MT7921E=n
CONFIG_MTD=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_MTD_CFI_STAA=n
CONFIG_MTD_NAND_DENALI_DT=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_MTD_NAND_MARVELL=n
CONFIG_MTD_SST25L=n
CONFIG_MTK_EFUSE=n
CONFIG_MTK_IOMMU=n
CONFIG_MTK_PMIC_WRAP=n
CONFIG_MVMDIO=n
CONFIG_MV_XOR=n
CONFIG_MV_XOR_V2=n
CONFIG_MWIFIEX=n
CONFIG_NET_9P=n
CONFIG_NET_ACT_GACT=n
CONFIG_NET_ACT_GATE=n
CONFIG_NET_ACT_MIRRED=n
CONFIG_NET_CLS_ACT=n
CONFIG_NET_CLS_BASIC=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_NET_DSA=n
CONFIG_NET_FAILOVER=n
CONFIG_NET_SCH_CBS=n
CONFIG_NET_SCH_ETF=n
CONFIG_NET_SCH_MQPRIO=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NFC_S3FWRN5_I2C=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_NVMEM_IMX_OCOTP=n
CONFIG_NVMEM_IMX_OCOTP_SCU=n
CONFIG_NVMEM_RMEM=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_OF_FPGA_REGION=n
CONFIG_OPTEE=n
CONFIG_OWL_DMA=n
CONFIG_OWL_PM_DOMAINS=n
CONFIG_PCIE_ALTERA=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_PCIE_HISI_STB=n
CONFIG_PCIE_KIRIN=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_PCIE_RCAR_EP=n
CONFIG_PCIE_RCAR_HOST=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_PCIE_TEGRA194_HOST=n
CONFIG_PCIE_XILINX=n
CONFIG_PCI_AARDVARK=n
CONFIG_PCI_ENDPOINT=n
CONFIG_PCI_ENDPOINT_TEST=n
CONFIG_PCI_HISI=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_PCI_IMX6=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_PCI_MESON=n
CONFIG_PCI_PASID=n
CONFIG_PCI_TEGRA=n
CONFIG_PCI_XGENE=n
CONFIG_PCS_XPCS=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_PHY_CADENCE_SALVO=n
CONFIG_PHY_CADENCE_SIERRA=n
CONFIG_PHY_CADENCE_TORRENT=n
CONFIG_PHY_CAN_TRANSCEIVER=n
CONFIG_PHY_FSL_IMX8MQ_USB=n
CONFIG_PHY_HI6220_USB=n
CONFIG_PHY_HISI_INNO_USB2=n
CONFIG_PHY_HISTB_COMBPHY=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_PHY_MTK_TPHY=n
CONFIG_PHY_MVEBU_CP110_COMPHY=n
CONFIG_PHY_NXP_PTN3222=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_PHY_QCOM_M31_EUSB=n
CONFIG_PHY_QCOM_M31_USB=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_PHY_QCOM_QMP_PCIE_8996=n
CONFIG_PHY_QCOM_SGMII_ETH=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_PHY_RCAR_GEN3_PCIE=n
CONFIG_PHY_RCAR_GEN3_USB2=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_PHY_ROCKCHIP_EMMC=n
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_PHY_ROCKCHIP_INNO_USB2=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_PHY_SAMSUNG_UFS=n
CONFIG_PHY_SNPS_EUSB2=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_PHY_TEGRA_XUSB=n
CONFIG_PHY_UNIPHIER_USB2=n
CONFIG_PHY_UNIPHIER_USB3=n
CONFIG_PHY_XGENE=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_PINCTRL_GLYMUR=n
CONFIG_PINCTRL_HAWI=n
CONFIG_PINCTRL_IMX8DXL=n
CONFIG_PINCTRL_IMX8MM=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_PINCTRL_IMX8MP=n
CONFIG_PINCTRL_IMX8MQ=n
CONFIG_PINCTRL_IMX8QM=n
CONFIG_PINCTRL_IMX8QXP=n
CONFIG_PINCTRL_IPQ5018=n
CONFIG_PINCTRL_IPQ5210=n
CONFIG_PINCTRL_IPQ5332=n
CONFIG_PINCTRL_IPQ5424=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_PINCTRL_IPQ9650=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_PINCTRL_LPASS_LPI=n
CONFIG_PINCTRL_MAX77620=n
CONFIG_PINCTRL_MILOS=n
CONFIG_PINCTRL_MSM8916=n
CONFIG_PINCTRL_MSM8953=n
CONFIG_PINCTRL_MSM8976=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_PINCTRL_NORD=n
CONFIG_PINCTRL_OWL=n
CONFIG_PINCTRL_QCM2290=n
CONFIG_PINCTRL_QCS404=n
CONFIG_PINCTRL_QCS615=n
CONFIG_PINCTRL_QCS8300=n
CONFIG_PINCTRL_QDU1000=n
CONFIG_PINCTRL_S700=n
CONFIG_PINCTRL_S900=n
CONFIG_PINCTRL_SA8775P=n
CONFIG_PINCTRL_SC7180=n
CONFIG_PINCTRL_SC7280=n
CONFIG_PINCTRL_SC8180X=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_PINCTRL_SDM660=n
CONFIG_PINCTRL_SDM670=n
CONFIG_PINCTRL_SDM845=n
CONFIG_PINCTRL_SDX75=n
CONFIG_PINCTRL_SHIKRA=n
CONFIG_PINCTRL_SM4450=n
CONFIG_PINCTRL_SM6115=n
CONFIG_PINCTRL_SM6125=n
CONFIG_PINCTRL_SM6350=n
CONFIG_PINCTRL_SM6375=n
CONFIG_PINCTRL_SM7150=n
CONFIG_PINCTRL_SM8250=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_PINCTRL_SM8350=n
CONFIG_PINCTRL_SM8450=n
CONFIG_PINCTRL_SM8550=n
CONFIG_PINCTRL_SM8550_LPASS_LPI=n
CONFIG_PINCTRL_SM8650=n
CONFIG_PINCTRL_SM8750=n
CONFIG_PINCTRL_SX150X=n
CONFIG_PINCTRL_X1E80100=n
CONFIG_PL330_DMA=n
CONFIG_PLATFORM_MHU=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_POWER_RESET_MSM=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_POWER_RESET_XGENE=n
CONFIG_POWER_SEQUENCING_PCIE_M2=n
CONFIG_PWM_BCM2835=n
CONFIG_PWM_IMX27=n
CONFIG_PWM_MEDIATEK=n
CONFIG_PWM_MESON=n
CONFIG_PWM_MTK_DISP=n
CONFIG_PWM_RCAR=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_PWM_SAMSUNG=n
CONFIG_PWM_SL28CPLD=n
CONFIG_PWM_SUN4I=n
CONFIG_PWM_TEGRA=n
CONFIG_PWM_VISCONTI=n
CONFIG_PWM_XILINX=n
CONFIG_QCA808X_PHY=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_QCM_GCC_2290=n
CONFIG_QCOMTEE=n
CONFIG_QCOM_A53PLL=n
CONFIG_QCOM_CLK_APCC_MSM8996=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_QCOM_CPR=n
CONFIG_QCOM_CPUCP_MBOX=n
CONFIG_QCOM_EBI2=n
CONFIG_QCOM_EMAC=n
CONFIG_QCOM_HFPLL=n
CONFIG_QCOM_HIDMA=n
CONFIG_QCOM_HIDMA_MGMT=n
CONFIG_QCOM_IOMMU=n
CONFIG_QCOM_MPM=n
CONFIG_QCOM_QSEECOM=n
CONFIG_QCOM_SMD_RPM=n
CONFIG_QCOM_SMSM=n
CONFIG_QCOM_SPM=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_QCS_CAMCC_615=n
CONFIG_QCS_DISPCC_615=n
CONFIG_QCS_GCC_404=n
CONFIG_QCS_GCC_615=n
CONFIG_QCS_GCC_8300=n
CONFIG_QCS_GPUCC_615=n
CONFIG_QCS_VIDEOCC_615=n
CONFIG_QDU_GCC_1000=n
CONFIG_QORIQ_CPUFREQ=n
CONFIG_QORIQ_THERMAL=n
CONFIG_QRTR_MHI=n
CONFIG_R8169=n
CONFIG_RAID_ATTRS=n
CONFIG_RASPBERRYPI_FIRMWARE=n
CONFIG_RASPBERRYPI_POWER=n
CONFIG_RCAR_DMAC=n
CONFIG_RCAR_GEN3_THERMAL=n
CONFIG_RCAR_THERMAL=n
CONFIG_REALTEK_PHY=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_REGULATOR_BD718XX=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_REGULATOR_DA9211=n
CONFIG_REGULATOR_FAN53555=n
CONFIG_REGULATOR_HI6421V530=n
CONFIG_REGULATOR_HI655X=n
CONFIG_REGULATOR_MAX20411=n
CONFIG_REGULATOR_MAX77620=n
CONFIG_REGULATOR_MAX8973=n
CONFIG_REGULATOR_MP8859=n
CONFIG_REGULATOR_MT6315=n
CONFIG_REGULATOR_MT6358=n
CONFIG_REGULATOR_MT6397=n
CONFIG_REGULATOR_PCA9450=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_REGULATOR_PFUZE100=n
CONFIG_REGULATOR_RAA215300=n
CONFIG_REGULATOR_RK808=n
CONFIG_REGULATOR_S2MPS11=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_REGULATOR_VCTRL=n
CONFIG_RENESAS_RPCIF=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_RENESAS_WDT=n
CONFIG_RESET_IMX7=n
CONFIG_RESET_TI_SCI=n
CONFIG_ROCKCHIP_ANALOGIX_DP=n
CONFIG_ROCKCHIP_CDN_DP=n
CONFIG_ROCKCHIP_DW_HDMI=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_ROCKCHIP_EFUSE=n
CONFIG_ROCKCHIP_INNO_HDMI=n
CONFIG_ROCKCHIP_IODOMAIN=n
CONFIG_ROCKCHIP_IOMMU=n
CONFIG_ROCKCHIP_LVDS=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_ROCKCHIP_PM_DOMAINS=n
CONFIG_ROCKCHIP_SARADC=n
CONFIG_ROCKCHIP_THERMAL=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_RSI_91X=n
CONFIG_RTC_DRV_ARMADA38X=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_RTC_DRV_DS3232=n
CONFIG_RTC_DRV_FSL_FTM_ALARM=n
CONFIG_RTC_DRV_HYM8563=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_RTC_DRV_M41T80=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_RTC_DRV_PCF2127=n
CONFIG_RTC_DRV_PCF85063=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_RTC_DRV_PL031=n
CONFIG_RTC_DRV_RK808=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_RTC_DRV_S3C=n
CONFIG_RTC_DRV_S5M=n
CONFIG_RTC_DRV_SNVS=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_RTC_DRV_ZYNQMP=n
CONFIG_RTL_CARDS=n
CONFIG_S3C2410_WATCHDOG=n
CONFIG_SATA_RCAR=n
CONFIG_SATA_SIL24=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_SA_DISPCC_8775P=n
CONFIG_SA_GCC_8775P=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_SCSI_HISI_SAS_PCI=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_SCSI_SAS_ATTRS=n
CONFIG_SCSI_SAS_LIBSAS=n
CONFIG_SCSI_UFS_CDNS_PLATFORM=n
CONFIG_SCSI_UFS_EXYNOS=n
CONFIG_SCSI_UFS_HISI=n
CONFIG_SC_CAMCC_7280=n
CONFIG_SC_CAMCC_8280XP=n
CONFIG_SC_DISPCC_7280=n
CONFIG_SC_DISPCC_8280XP=n
CONFIG_SC_GCC_7180=n
CONFIG_SC_GCC_7280=n
CONFIG_SC_GCC_8180X=n
CONFIG_SC_GCC_8280XP=n
CONFIG_SC_GPUCC_7280=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_SC_LPASSCC_8280XP=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_SC_VIDEOCC_7280=n
CONFIG_SDM_CAMCC_845=n
CONFIG_SDM_DISPCC_845=n
CONFIG_SDM_GCC_845=n
CONFIG_SDM_GPUCC_845=n
CONFIG_SDM_LPASSCC_845=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_SDR_PLATFORM_DRIVERS=n
CONFIG_SDX_GCC_75=n
CONFIG_SENSORS_AMC6821=n
CONFIG_SENSORS_ARM_SCPI=n
CONFIG_SENSORS_GPIO_FAN=n
CONFIG_SENSORS_INA2XX=n
CONFIG_SENSORS_INA3221=n
CONFIG_SENSORS_ISL29018=n
CONFIG_SENSORS_JC42=n
CONFIG_SENSORS_LM75=n
CONFIG_SENSORS_LM90=n
CONFIG_SENSORS_PWM_FAN=n
CONFIG_SENSORS_RASPBERRYPI_HWMON=n
CONFIG_SENSORS_SL28CPLD=n
CONFIG_SENSORS_TMP102=n
CONFIG_SERIAL_8250=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_SERIAL_FSL_LINFLEXUART=n
CONFIG_SERIAL_FSL_LINFLEXUART_CONSOLE=n
CONFIG_SERIAL_FSL_LPUART=n
CONFIG_SERIAL_FSL_LPUART_CONSOLE=n
CONFIG_SERIAL_IMX=n
CONFIG_SERIAL_IMX_CONSOLE=n
CONFIG_SERIAL_MESON=n
CONFIG_SERIAL_MESON_CONSOLE=n
CONFIG_SERIAL_MSM=n
CONFIG_SERIAL_MVEBU_UART=n
CONFIG_SERIAL_OWL=n
CONFIG_SERIAL_SAMSUNG=n
CONFIG_SERIAL_SAMSUNG_CONSOLE=n
CONFIG_SERIAL_TEGRA=n
CONFIG_SERIAL_TEGRA_TCU=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=n
CONFIG_SERIO_AMBAKMI=n
CONFIG_SKY2=n
CONFIG_SL28CPLD_INTC=n
CONFIG_SL28CPLD_WATCHDOG=n
CONFIG_SMC91X=n
CONFIG_SMSC911X=n
CONFIG_SM_CAMCC_6350=n
CONFIG_SM_CAMCC_8250=n
CONFIG_SM_CAMCC_8550=n
CONFIG_SM_CAMCC_8650=n
CONFIG_SM_CAMCC_8750=n
CONFIG_SM_CAMCC_MILOS=n
CONFIG_SM_DISPCC_8450=n
CONFIG_SM_DISPCC_8550=n
CONFIG_SM_GCC_4450=n
CONFIG_SM_GCC_6115=n
CONFIG_SM_GCC_6350=n
CONFIG_SM_GCC_8250=n
CONFIG_SM_GCC_8350=n
CONFIG_SM_GCC_8450=n
CONFIG_SM_GCC_8550=n
CONFIG_SM_GCC_8650=n
CONFIG_SM_GCC_8750=n
CONFIG_SM_GCC_MILOS=n
CONFIG_SM_GPUCC_6115=n
CONFIG_SM_GPUCC_6350=n
CONFIG_SM_GPUCC_8250=n
CONFIG_SM_GPUCC_8350=n
CONFIG_SM_GPUCC_8450=n
CONFIG_SM_GPUCC_8550=n
CONFIG_SM_GPUCC_8650=n
CONFIG_SM_GPUCC_8750=n
CONFIG_SM_GPUCC_MILOS=n
CONFIG_SM_TCSRCC_8550=n
CONFIG_SM_TCSRCC_8650=n
CONFIG_SM_TCSRCC_8750=n
CONFIG_SM_VIDEOCC_6350=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_SM_VIDEOCC_8550=n
CONFIG_SM_VIDEOCC_8750=n
CONFIG_SM_VIDEOCC_MILOS=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_SND_BCM2835_SOC_I2S=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_SND_HDA_TEGRA=n
CONFIG_SND_IMX_SOC=n
CONFIG_SND_MESON_AXG_SOUND_CARD=n
CONFIG_SND_MESON_GX_SOUND_CARD=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_SND_SOC_AK4613=n
CONFIG_SND_SOC_AK4619=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_SND_SOC_DA7213=n
CONFIG_SND_SOC_ES7134=n
CONFIG_SND_SOC_ES7241=n
CONFIG_SND_SOC_ES8316=n
CONFIG_SND_SOC_ES8326=n
CONFIG_SND_SOC_ES8328_I2C=n
CONFIG_SND_SOC_FSL_ASOC_CARD=n
CONFIG_SND_SOC_FSL_ASRC=n
CONFIG_SND_SOC_FSL_AUDMIX=n
CONFIG_SND_SOC_FSL_EASRC=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_SND_SOC_FSL_MICFIL=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_SND_SOC_FSL_SPDIF=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_SND_SOC_GTM601=n
CONFIG_SND_SOC_IMX_AUDMIX=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_SND_SOC_IMX_SPDIF=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_SND_SOC_LPASS_VA_MACRO=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_SND_SOC_MAX98090=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_SND_SOC_MAX98927=n
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_SND_SOC_MT6357=n
CONFIG_SND_SOC_MT6358=n
CONFIG_SND_SOC_NAU8315=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_SND_SOC_RCAR=n
CONFIG_SND_SOC_RK3399_GRU_SOUND=n
CONFIG_SND_SOC_RL6231=n
CONFIG_SND_SOC_ROCKCHIP=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_SND_SOC_ROCKCHIP_SPDIF=n
CONFIG_SND_SOC_RT5640=n
CONFIG_SND_SOC_RT5645=n
CONFIG_SND_SOC_RT5659=n
CONFIG_SND_SOC_RT5682=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_SND_SOC_RT5682_I2C=n
CONFIG_SND_SOC_SAMSUNG=n
CONFIG_SND_SOC_SC7180=n
CONFIG_SND_SOC_SC7280=n
CONFIG_SND_SOC_SC8280XP=n
CONFIG_SND_SOC_SDM845=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_SND_SOC_SIMPLE_AMPLIFIER=n
CONFIG_SND_SOC_SM8250=n
CONFIG_SND_SOC_SOF_TOPLEVEL=n
CONFIG_SND_SOC_TAS2552=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
CONFIG_SND_SOC_TEGRA210_AHUB=n
CONFIG_SND_SOC_TEGRA210_DMIC=n
CONFIG_SND_SOC_TEGRA210_I2S=n
CONFIG_SND_SOC_TEGRA_AUDIO_GRAPH_CARD=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_SND_SOC_TLV320AIC3X_I2C=n
CONFIG_SND_SOC_TS3A227E=n
CONFIG_SND_SOC_USB=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_SND_SOC_WCD937X_SDW=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_SND_SOC_WCD939X_SDW=n
CONFIG_SND_SOC_WM8524=n
CONFIG_SND_SOC_WM8904=n
CONFIG_SND_SOC_WM8960=n
CONFIG_SND_SOC_WM8962=n
CONFIG_SND_SOC_WM8978=n
CONFIG_SND_SOC_WSA883X=n
CONFIG_SND_SOC_WSA884X=n
CONFIG_SND_SOC_X1E80100=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_SND_SOC_XILINX_I2S=n
CONFIG_SND_SOC_XILINX_SPDIF=n
CONFIG_SND_SUN4I_I2S=n
CONFIG_SND_SUN4I_SPDIF=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_SPI_ARMADA_3700=n
CONFIG_SPI_BCM2835=n
CONFIG_SPI_BCM2835AUX=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_SPI_DESIGNWARE=n
CONFIG_SPI_DW_DMA=n
CONFIG_SPI_DW_MMIO=n
CONFIG_SPI_FSL_DSPI=n
CONFIG_SPI_FSL_LPSPI=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_SPI_IMX=n
CONFIG_SPI_MESON_SPICC=n
CONFIG_SPI_MESON_SPIFC=n
CONFIG_SPI_NXP_FLEXSPI=n
CONFIG_SPI_ORION=n
CONFIG_SPI_PL022=n
CONFIG_SPI_QUP=n
CONFIG_SPI_ROCKCHIP=n
CONFIG_SPI_RPCIF=n
CONFIG_SPI_S3C64XX=n
CONFIG_SPI_SH_MSIOF=n
CONFIG_SPI_SUN6I=n
CONFIG_SPI_XILINX=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_SRAM=n
CONFIG_STAGING=n
CONFIG_STMMAC_ETH=n
CONFIG_STM_PROTO_BASIC=n
CONFIG_STM_PROTO_SYS_T=n
CONFIG_SUN8I_THERMAL=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_SYSTEMPORT=n
CONFIG_TCG_TPM=n
CONFIG_TEGRA20_APB_DMA=n
CONFIG_TEGRA210_ADMA=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_TEGRA_BPMP_THERMAL=n
CONFIG_TEGRA_IOMMU_SMMU=n
CONFIG_TEGRA_SOCTHERM=n
CONFIG_THUNDER_NIC_BGX=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_TI_ADS1015=n
CONFIG_TI_K3_UDMA=n
CONFIG_TI_K3_UDMA_GLUE_LAYER=n
CONFIG_TI_SCI_CLK=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_TYPEC_FUSB302=n
CONFIG_TYPEC_HD3SS3220=n
CONFIG_TYPEC_MUX_IT5205=n
CONFIG_TYPEC_MUX_NB7VPQ904M=n
CONFIG_TYPEC_MUX_PS883X=n
CONFIG_TYPEC_MUX_WCD939X_USBSS=n
CONFIG_TYPEC_TCPCI=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_UACCE=n
CONFIG_UNIPHIER_EFUSE=n
CONFIG_UNIPHIER_THERMAL=n
CONFIG_UNIPHIER_WATCHDOG=n
CONFIG_USB_BDC_UDC=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_USB_CHIPIDEA=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_USB_CONN_GPIO=n
CONFIG_USB_DWC2=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_USB_EHCI_EXYNOS=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_HSIC_USB3503=n
CONFIG_USB_ISP1760=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_USB_NET_PLUSB=n
CONFIG_USB_OHCI_EXYNOS=n
CONFIG_USB_OHCI_HCD=n
CONFIG_USB_ONBOARD_DEV_USB5744=n
CONFIG_USB_RENESAS_USB3=n
CONFIG_USB_RENESAS_USBHS=n
CONFIG_USB_RENESAS_USBHS_HCD=n
CONFIG_USB_RENESAS_USBHS_UDC=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_USB_TEGRA_XUDC=n
CONFIG_USB_XHCI_PCI_RENESAS=n
CONFIG_USB_XHCI_TEGRA=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_VFIO=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_VIDEO_IMX219=n
CONFIG_VIDEO_OV5645=n
CONFIG_VIDEO_QCOM_IRIS=n
CONFIG_VIDEO_RCAR_CSI2=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_VIDEO_RCAR_VIN=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_VIDEO_RENESAS_FDP1=n
CONFIG_VIDEO_RENESAS_VSP1=n
CONFIG_VIDEO_S5KJN1=n
CONFIG_VIDEO_SAMSUNG_EXYNOS_GSC=n
CONFIG_VIDEO_SAMSUNG_S5P_JPEG=n
CONFIG_VIDEO_SAMSUNG_S5P_MFC=n
CONFIG_VIDEO_SUN6I_CSI=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_VIRTIO_BLK=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_VIRTIO_MMIO=n
CONFIG_VIRTIO_NET=n
CONFIG_VIRTIO_PCI=n
CONFIG_VITESSE_PHY=n
CONFIG_WCN36XX=n
CONFIG_WL18XX=n
CONFIG_WLCORE=n
CONFIG_WWAN=n
CONFIG_XEN=n
CONFIG_XILINX_DMA=n
CONFIG_XILINX_GMII2RGMII=n
CONFIG_XILINX_INTC=n
CONFIG_XILINX_SDFEC=n
CONFIG_XILINX_VCU=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_XILINX_XADC=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_XILINX_ZYNQMP_DPDMA=n
